<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
      <li>Status: <%= @gem.status %></li>
      <li>Notes:  <%= @gem.notes %></li>
      <li>Link:   <%= link_to @gem.name, rubygem_url(@gem) %></li>
    </ul>
  </body>
</html>
