<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <ul>
        <li>Status: <%= @gem.status %></li>
        <li>Notes:  <%= @gem.notes %></li>
      </ul>
    </body>
  </html>
