<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
      <% @gem.previous_changes.each do |attribute, values| %>
        <% next if attribute == "updated_at" %>
        <ul>
          <li><%= attribute %>: <%= values.first %> -> <%= values.last %></li>
        </ul>
      <% end %>
    </body>
  </html>
