---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/amazing_print.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"amazing_print","downloads":17904640,"version":"1.6.0","version_created_at":"2024-03-08T18:09:50.333Z","version_downloads":1728517,"platform":"ruby","authors":"Michael
        Dvorkin, Kevin McCormackPatrik Wenger","info":"Great Ruby debugging companion:
        pretty print Ruby objects to visualize their structure. Supports custom object
        formatting via plugins","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"9903e93daadc15411c854239f8ca1ca6ce78be279ed99d43fec2bd3b0aa37397","spec_sha":"a0094903a607d841a25a96540eac4216c5cad18b337d5c533ef01e1257b4aaa1","project_uri":"https://rubygems.org/gems/amazing_print","gem_uri":"https://rubygems.org/gems/amazing_print-1.6.0.gem","homepage_uri":"https://github.com/amazing-print/amazing_print","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/amazing_print/1.6.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/annotaterb.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"annotaterb","downloads":89844,"version":"4.12[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/aws-sdk-s3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"aws-sdk-s3","downloads":786598428,"version":"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/baseline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"baseline","downloads":5692,"version":"0.1.0","version_created_at":"2011-01-29T12:47:39.880Z","version_downloads":5692,"platform":"ruby","authors":"John
        Mair (banisterfiend)","info":"FIX ME","licenses":null,"metadata":{"homepage_uri":"http://banisterfiend.wordpress.com"},"yanked":false,"sha":"c40880a6e9262ed800d6f40860a882d0fbb56b74d5bd38dd18e50dccf1a1599f","spec_sha":"7f0efba7cafbdabaf1e1c4671aad742a2143eaedd185bc32ddc8093bef2fd614","project_uri":"https://rubygems.org/gems/baseline","gem_uri":"https://rubygems.org/gems/baseline-0.1.0.gem","homepage_uri":"http://banisterfiend.wordpress.com","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/better_errors.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"better_errors","downloads":81880942,"versio[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/binding_of_caller.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"binding_of_caller","downloads":13762901[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootsnap.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"bootsnap","downloads":227865878,"version":"1.18.4","version_created_at":"2024-08-05T09:50:48.629Z","version_downloads":5426470,"platform":"ruby","authors":"Burke
        Libbey","info":"Boot large ruby/rails apps faster","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/Shopify/bootsnap/blob/main/CHANGELOG.md","bug_tracker_uri":"https://github.com/Shopify/bootsnap/issues","source_code_uri":"https://github.com/Shopify/bootsnap","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"ac4c42af397f7ee15521820198daeff545e4c360d2772c601fbdc2c07d92af55","spec_sha":"49f2ca7355b487e600701f84dd7cbf2e48a02bab1271095d7e602a93068571dc","project_uri":"https://rubygems.org/gems/bootsnap","gem_uri":"https://rubygems.org/gems/bootsnap-1.18.4.gem","homepage_uri":"https://github.com/Shopify/bootsnap","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/Shopify/bootsnap","bug_tracker_uri":"https://github.com/Shopify/bootsnap/issues","changelog_uri":"https://github.com/Shopify/bootsnap/blob/main/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"msgpack","requirements":"~\u003e
        1.2"}]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"bootstrap","downloads":19354634,"version":"5.3.[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/byebug.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"byebug","downloads":350200178,"version":"11.1.3","[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/dartsass-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"dartsass-rails","downloads":1670633,"version":"0.5.1","version_created_at":"2024-07-30T18:01:34.995Z","version_downloads":89116,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Integrate Dart Sass with the asset pipeline in
        Rails.","licenses":["MIT"],"metadata":{"homepage_uri":"https://github.com/rails/dartsass-rails","rubygems_mfa_required":"true"},"yanked":false,"sha":"f19510fb1b29c76c1739a06954d615f1d20ad653b6fc668dd7c68542bb303a1a","spec_sha":"df7a29e37acfbae520aa5b5f1033361f461a1785cb015647548264863eeb1da6","project_uri":"https://rubygems.org/gems/dartsass-rails","gem_uri":"https://rubygems.org/gems/dartsass-rails-0.5.1.gem","homepage_uri":"https://github.com/rails/dartsass-rails","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"railties","requirements":"\u003e=
        6.0.0"},{"name":"sass-embedded","requirements":"~\u003e 1.63"}]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/database_cleaner-active_record.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"database_cleaner-active_r[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/dotenv.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"dotenv","downloads":359394874,"version":"3.1.4","[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/factory_bot_rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"factory_bot_rails","downloads":19220550[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/gems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"gems","downloads":34397078,"version":"1.2.0","version_created_at":"2019-09-26T07:12:34.431Z","version_downloads":26506841,"platform":"ruby","authors":"Erik
        Michaels-Ober","info":"Ruby wrapper for the RubyGems.org API","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"343d74bd54d906f38193f3ccd983f9d08c4b54cd01ee7e5fe8467ab41a9946f0","spec_sha":"fbe30645252fd72a57f747c7387d2baf8007634e27b5a30ea165cb2c25a6f617","project_uri":"https://rubygems.org/gems/gems","gem_uri":"https://rubygems.org/gems/gems-1.2.0.gem","homepage_uri":"https://github.com/rubygems/gems","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/gems/1.2.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/git.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"git","downloads":137743764,"version":"2.3.0","version[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/haml.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"haml","downloads":155244923,"version":"6.3.0","vers[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/importmap-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"importmap-rails","downloads":17062746,"v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/kredis.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"kredis","downloads":1084904,"version":"1.7.0","ver[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/net-pop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"net-pop","downloads":105296453,"version":"0.1.2","version_created_at":"2022-09-28T09:37:33.259Z","version_downloads":96582841,"platform":"ruby","authors":"Yukihiro
        Matsumoto","info":"Ruby client library for POP3.","licenses":["Ruby","BSD-2-Clause"],"metadata":{"homepage_uri":"https://github.com/ruby/net-pop","source_code_uri":"https://github.com/ruby/net-pop"},"yanked":false,"sha":"848b4e982013c15b2f0382792268763b748cce91c9e91e36b0f27ed26420dff3","spec_sha":"aeff9897c84befbe622e8705f0b3163226c80d12ba47fcb66264598441fc2713","project_uri":"https://rubygems.org/gems/net-pop","gem_uri":"https://rubygems.org/gems/net-pop-0.1.2.gem","homepage_uri":"https://github.com/ruby/net-pop","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/ruby/net-pop","bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"net-protocol","requirements":"\u003e=
        0"}]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:01 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/octokit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"octokit","downloads":264819707,"version":"9.1.0"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/octopoller.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"octopoller","downloads":276383,"version":"0.3[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/pg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"pg","downloads":328626761,"version":"1.5.8","version_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/propshaft.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"propshaft","downloads":3014604,"version":"1.1.0[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/pry-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"pry-rails","downloads":170031802,"version":"0.3.11","version_created_at":"2024-06-20T01:31:58.455Z","version_downloads":1897128,"platform":"ruby","authors":"Robin
        Wenglewski","info":"Use Pry as your rails console","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"a69e28e24a34d75d1f60bcf241192a54253f8f7ef8a62cba1e75750a9653593d","spec_sha":"fd6789f2c0e6b4c6db17ef998190e3f6605ef229a783633cace0cd0ce1c07686","project_uri":"https://rubygems.org/gems/pry-rails","gem_uri":"https://rubygems.org/gems/pry-rails-0.3.11.gem","homepage_uri":"https://github.com/rweng/pry-rails","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/pry-rails/0.3.11","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"appraisal","requirements":"\u003e=
        0"},{"name":"minitest","requirements":"\u003e= 0"}],"runtime":[{"name":"pry","requirements":"\u003e=
        0.13.0"}]}}'
  recorded_at: Sat, 12 Oct 2024 20:29:02 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/puma.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"puma","downloads":397944517,"version":"6.4.3","versi[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails-controller-testing.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails-controller-testing","down[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails-i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails-i18n","downloads":94509873,"version":"7[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails_bootstrap_navbar.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails_bootstrap_navbar","download[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/redis.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"redis","downloads":436345066,"version":"5.3.0","ve[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/redis-namespace.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"redis-namespace","downloads":161701175,"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rspec-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rspec-rails","downloads":288312769,"version":[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sentry-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sentry-rails","downloads":59963681,"version[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sentry-sidekiq.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sentry-sidekiq","downloads":43072160,"ver[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sidekiq.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sidekiq","downloads":240936432,"version":"7.3.2"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sidekiq-scheduler.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sidekiq-scheduler","downloads":30704937[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/simplecov.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"simplecov","downloads":340875449,"version":"0.[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sitemap_generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sitemap_generator","downloads":3271164[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/stimulus-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.244.20.143:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"stimulus-rails","downloads":22963266,"ver[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/turbo-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.236.29.164:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"turbo-rails","downloads":27656181,"version":[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/vcr.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"vcr","downloads":114990547,"version":"6.3.1","version[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/webmock.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 34.211.84.10:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"webmock","downloads":281384954,"version":"3.24.0"[...]
