---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/next_rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"next_rails","downloads":6087277,"version":"1.4.2","version_created_at":"2024-10-25T17:41:04.118Z","version_downloads":688667,"platform":"ruby","authors":"Ernesto
        Tagwerker, Luis Sagastume","info":"A set of handy tools to upgrade your Rails
        application and keep it up to date","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"ae72cb83439de812bd44801e33941eda00abe9602bf222404303737de80abec4","spec_sha":"2b8cbbd5d1a947e0812894d78dd5fa17b09a1b8231169d17f04fa96100c9ba81","project_uri":"https://rubygems.org/gems/next_rails","gem_uri":"https://rubygems.org/gems/next_rails-1.4.2.gem","homepage_uri":"https://github.com/fastruby/next_rails","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/next_rails/1.4.2","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.16, \u003c 3.0"},{"name":"byebug","requirements":"\u003e= 0"},{"name":"rake","requirements":"\u003e=
        0"},{"name":"rexml","requirements":"= 3.3.8"},{"name":"rspec","requirements":"~\u003e
        3.0"},{"name":"simplecov","requirements":"~\u003e 0.17.1"},{"name":"timecop","requirements":"~\u003e
        0.9.1"},{"name":"webmock","requirements":"= 3.16.2"}],"runtime":[{"name":"rainbow","requirements":"\u003e=
        3"}]}}'
  recorded_at: Mon, 25 Nov 2024 19:39:13 GMT
recorded_with: VCR 6.3.1
