---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/next_rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.38.30.86:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"next_rails","downloads":4945203,"version":"1.3.0","version_created_at":"2023-06-16T19:56:16.212Z","version_downloads":1460082,"platform":"ruby","authors":"Ernesto
        Tagwerker, Luis Sagastume","info":"A set of handy tools to upgrade your Rails
        application and keep it up to date","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"31b366af5cb4bd69408f7d613041c9fbc1df154928d0155599b6784982e8db1e","spec_sha":"f109209f7fdcb706ad5abc82defb84e1d4571a5e0431c8f9ce6711e8ec5b09b1","project_uri":"https://rubygems.org/gems/next_rails","gem_uri":"https://rubygems.org/gems/next_rails-1.3.0.gem","homepage_uri":"https://github.com/fastruby/next_rails","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/next_rails/1.3.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.16, \u003c 3.0"},{"name":"byebug","requirements":"\u003e= 0"},{"name":"rake","requirements":"\u003e=
        0"},{"name":"rexml","requirements":"= 3.1.7.3"},{"name":"rspec","requirements":"~\u003e
        3.0"},{"name":"simplecov","requirements":"~\u003e 0.17.1"},{"name":"timecop","requirements":"~\u003e
        0.9.1"},{"name":"webmock","requirements":"= 3.16.2"}],"runtime":[{"name":"colorize","requirements":"\u003e=
        0.8.1"}]}}'
  recorded_at: Mon, 23 Sep 2024 01:25:38 GMT
recorded_with: VCR 6.3.1
