<table class="table table-bordered table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Notes<th>
  </thead>

  <tbody id="gems">
    <%= render 'gems' %>
  </tbody>
</table>
