

<div class="row">
	<h4>Paste your Gemfile contents here</h4>

	<%= form_tag checkgemfile_rubygems_path do %>
		<%= text_area_tag 'gemfile', nil, style: "width: 600px; height: 400px;" %>
		<br />
		<button class="btn btn-primary">Check my Gemfile!</button>
	<% end %>

</div>
