%h1
  Check a gem
= render "shared/flashes"
= form_with model: @gemmy do |form|

  .mb-3
    = form.text_field :name, class: "form-control", placeholder: "Gem name"

  = form.submit "Check now", class: "btn btn-primary", data: { disable_with: t(:please_wait) }
