---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/ombu_labs-auth.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 30 Sep 2023 14:25:16 GMT
      X-Backend:
      - F_Rails 44.230.138.104:443
      Etag:
      - '"2567fe361113f20c99fa6d93a7fa5752"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"OmbuLabs","built_at":"2023-06-09T00:00:00.000Z","created_at":"2023-06-09T16:52:20.595Z","description":"Helps
        us authenticate teammates using GitHub Oauth and Devise","downloads_count":734,"metadata":{"changelog_uri":"https://github.com/fastruby/ombu_labs-auth/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/fastruby/ombu_labs-auth","allowed_push_host":"https://rubygems.org"},"number":"1.0.0","summary":"OmbuLabs
        internal authentication gem","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"7025518b4c73e5b423951f2149333beed4d05a3bcf7f9e6a5bf14663526fd7a6","spec_sha":"080c73b320c7ec6f9c95e445da52d25ca16959f2218ac13f77f9ebe793d7e955"},{"authors":"Ombulabs","built_at":"2022-10-20T00:00:00.000Z","created_at":"2022-10-20T17:11:26.692Z","description":"Helps
        us authenticate teammates using GitHub Oauth and Devise","downloads_count":565,"metadata":{"changelog_uri":"https://github.com/fastruby/ombu_labs-auth/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/fastruby/ombu_labs-auth","allowed_push_host":"https://rubygems.org"},"number":"0.1.0","summary":"Ombulabs
        internal authentication gem","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"d2d0253a2da4e1da8e45dfc8c3b256c3f9d16b09a1e467fd8a7a3ded4eb8ee33","spec_sha":"b9a3ec86d6ac50407fc858a9276b1c473eacda11e91b6bc41e4b1336c6861021"}]'
  recorded_at: Tue, 24 Sep 2024 18:41:16 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v2/rubygems/ombu_labs-auth/versions/1.0.0.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 30 Sep 2023 14:25:16 GMT
      X-Backend:
      - F_Rails 52.38.30.86:443
      Etag:
      - '"2567fe361113f20c99fa6d93a7fa5752"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ombu_labs-auth","downloads":1299,"version":"1.0.0","version_created_at":"2023-06-09T16:52:20.595Z","version_downloads":734,"platform":"ruby","authors":"OmbuLabs","info":"Helps
        us authenticate teammates using GitHub Oauth and Devise","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/fastruby/ombu_labs-auth/blob/main/CHANGELOG.md","source_code_uri":"https://github.com/fastruby/ombu_labs-auth","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"7025518b4c73e5b423951f2149333beed4d05a3bcf7f9e6a5bf14663526fd7a6","spec_sha":"080c73b320c7ec6f9c95e445da52d25ca16959f2218ac13f77f9ebe793d7e955","project_uri":"https://rubygems.org/gems/ombu_labs-auth","gem_uri":"https://rubygems.org/gems/ombu_labs-auth-1.0.0.gem","homepage_uri":"https://github.com/fastruby/ombu_labs-auth","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/fastruby/ombu_labs-auth","bug_tracker_uri":null,"changelog_uri":"https://github.com/fastruby/ombu_labs-auth/blob/main/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[{"name":"capybara","requirements":"\u003e=
        0"},{"name":"puma","requirements":"\u003e= 0"},{"name":"webdrivers","requirements":"\u003e=
        0"}],"runtime":[{"name":"devise","requirements":"~\u003e 4.8.1"},{"name":"omniauth","requirements":"~\u003e
        2.1.0"},{"name":"omniauth-github","requirements":"~\u003e 2.0.0"},{"name":"omniauth-rails_csrf_protection","requirements":"\u003e=
        0"},{"name":"rails","requirements":"\u003e= 6.0"}]},"built_at":"2023-06-09T00:00:00.000Z","created_at":"2023-06-09T16:52:20.595Z","description":"Helps
        us authenticate teammates using GitHub Oauth and Devise","downloads_count":734,"number":"1.0.0","summary":"OmbuLabs
        internal authentication gem","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        0","prerelease":false,"requirements":[]}'
  recorded_at: Tue, 24 Sep 2024 18:41:16 GMT
[...]
