<table class="table table-bordered table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Status Rails 4</th>
    <th>Notes Rails 4</th>
    <th>Status Rails 5</th>
    <th>Notes Rails 5</th>
    <th>Status or notes updated</th>
  </thead>

  <tbody id="gems">
    <%= render "shared/gems" %>
  </tbody>
</table>
