---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/madmin.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 12 Jun 2024 04:01:00 GMT
      X-Backend:
      - F_Rails 44.238.147.15:443
      Etag:
      - '"fe96063b23237fe313331547976a6bbc"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Chris Oliver, Andrea Fomera","built_at":"2024-06-12T00:00:00.000Z","created_at":"2024-06-12T04:01:00.329Z","description":"It''s
        an admin, obviously.","downloads_count":1880,"metadata":{},"number":"1.2.11","summary":"A
        modern admin for Ruby on Rails apps","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.5.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"355122b6d807982aa3b7cb09837e03a599376d7879b7662476de0604ff441fa0","spec_sha":"eddbe276de52a26dc5befd578b4919a3a40b2cc02f65bc92f4c1aa43c06c63d5"},{"authors":"Chris
        Oliver, Andrea Fomera","built_at":"2024-05-02T00:00:00.000Z","created_at":"2024-05-02T21:30:41.579Z","description":"It''s
        an admin, obviously.","downloads_count":1769,"metadata":{},"number":"1.2.10","summary":"A
        modern admin for Ruby on Rails apps","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.5.0","prerelease":false,"licenses":["MIT"],"requirements":[...]
- request:
    method: get
    uri: https://rubygems.org/api/v2/rubygems/madmin/versions/1.2.11.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 12 Jun 2024 04:01:00 GMT
      X-Backend:
      - F_Rails 52.38.30.86:443
      Etag:
      - '"fe96063b23237fe313331547976a6bbc"'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"madmin","downloads":103045,"version":"1.2.11","version_created_at":"2024-06-12T04:01:00.329Z","version_downloads":1880,"platform":"ruby","authors":"Chris
        Oliver, Andrea Fomera","info":"It''s an admin, obviously.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"355122b6d807982aa3b7cb09837e03a599376d7879b7662476de0604ff441fa0","spec_sha":"eddbe276de52a26dc5befd578b4919a3a40b2cc02f65bc92f4c1aa43c06c63d5","project_uri":"https://rubygems.org/gems/madmin","gem_uri":"https://rubygems.org/gems/madmin-1.2.11.gem","homepage_uri":"https://github.com/excid3/madmin","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/madmin/1.2.11","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"pagy","requirements":"\u003e=
        3.5"},{"name":"rails","requirements":"\u003e= 6.0.3"}]},"built_at":"2024-06-12T00:00:00.000Z","created_at":"2024-06-12T04:01:00.329Z","description":"It''s
        an admin, obviously.","downloads_count":1880,"number":"1.2.11","summary":"A
        modern admin for Ruby on Rails apps","rubygems_version":"\u003e= 0","ruby_version":"\u003e=
        2.5.0","prerelease":false,"requirements":[]}'
  recorded_at: Mon, 23 Sep 2024 01:04:12 GMT
[...]
- request:
    method: get
    uri: https://rubygems.org/api/v2/rubygems/madmin/versions/1.0.0.beta2.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 12 Jun 2024 04:01:00 GMT
      X-Backend:
      - F_Rails 52.38.30.86:443
      Etag:
      - '"fe9606[...]
[...]
