header {
  margin-bottom: 3rem;
}

main {
  padding-bottom: 3rem;

  img {
    @extend .img-fluid;
  }

  a:not(.btn) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  section + section {
    margin-top: 3rem;
  }
}
