table.compat-table {

  tbody {

    td {

      span {
        padding-bottom: 2px;
        border-bottom: 1px dotted;
      }
    }

    .checking {
      color: $yellow;
    }

    .incompatible {
      color: $red;
    }

    .compatible {
      color: $green;
    }
  }
}