table.compat-table {

  th {
    white-space: nowrap;
  }

  td {

    span {
      padding-bottom: 2px;
      border-bottom: 1px dotted;
    }
  }

  .toggle-earlier-rails-versions {
    float: right;
  }

  .earlier-version {
    display: none;
  }

  .checking {
    color: $yellow;
  }

  .incompatible {
    color: $red;
  }

  .compatible {
    color: $green;
  }
}
