<h4></h4>

<%= form_tag gemfile_check_path do %>
  <%= text_area_tag "gemfile", nil, style: "width: 600px; height: 400px;", required: true, autofocus: true, placeholder: "Paste your Gemfile content here to get the statuses and notes for each of its gem" %>
  <br /><br />
  <button class="btn btn-primary">Check my Gemfile!</button>
<% end %>
