---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/amazing_print.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"amazing_print","downloads":18738813,"version":"1.6.0","version_created_at":"2024-03-08T18:09:50.333Z","version_downloads":2208242,"platform":"ruby","authors":"Michael
        Dvorkin, Kevin McCormackPatrik Wenger","info":"Great Ruby debugging companion:
        pretty print Ruby objects to visualize their structure. Supports custom object
        formatting via plugins","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"9903e93daadc15411c854239f8ca1ca6ce78be279ed99d43fec2bd3b0aa37397","spec_sha":"a0094903a607d841a25a96540eac4216c5cad18b337d5c533ef01e1257b4aaa1","project_uri":"https://rubygems.org/gems/amazing_print","gem_uri":"https://rubygems.org/gems/amazing_print-1.6.0.gem","homepage_uri":"https://github.com/amazing-print/amazing_print","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/amazing_print/1.6.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/annotaterb.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"annotaterb","downloads":241609,"version":"4.13.[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/aws-sdk-s3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"aws-sdk-s3","downloads":804451535,"version":"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/baseline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"baseline","downloads":5713,"version":"0.1.0","version_created_at":"2011-01-29T12:47:39.880Z","version_downloads":5713,"platform":"ruby","authors":"John
        Mair (banisterfiend)","info":"FIX ME","licenses":null,"metadata":{"homepage_uri":"http://banisterfiend.wordpress.com"},"yanked":false,"sha":"c40880a6e9262ed800d6f40860a882d0fbb56b74d5bd38dd18e50dccf1a1599f","spec_sha":"7f0efba7cafbdabaf1e1c4671aad742a2143eaedd185bc32ddc8093bef2fd614","project_uri":"https://rubygems.org/gems/baseline","gem_uri":"https://rubygems.org/gems/baseline-0.1.0.gem","homepage_uri":"http://banisterfiend.wordpress.com","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:17 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/better_errors.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"better_errors","downloads":83443829,"versi[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/binding_of_caller.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"binding_of_caller","downloads":141723585[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootsnap.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"bootsnap","downloads":235358654,"version":"1.18.4","version_created_at":"2024-08-05T09:50:48.629Z","version_downloads":9471439,"platform":"ruby","authors":"Burke
        Libbey","info":"Boot large ruby/rails apps faster","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/Shopify/bootsnap/blob/main/CHANGELOG.md","bug_tracker_uri":"https://github.com/Shopify/bootsnap/issues","source_code_uri":"https://github.com/Shopify/bootsnap","allowed_push_host":"https://rubygems.org"},"yanked":false,"sha":"ac4c42af397f7ee15521820198daeff545e4c360d2772c601fbdc2c07d92af55","spec_sha":"49f2ca7355b487e600701f84dd7cbf2e48a02bab1271095d7e602a93068571dc","project_uri":"https://rubygems.org/gems/bootsnap","gem_uri":"https://rubygems.org/gems/bootsnap-1.18.4.gem","homepage_uri":"https://github.com/Shopify/bootsnap","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/Shopify/bootsnap","bug_tracker_uri":"https://github.com/Shopify/bootsnap/issues","changelog_uri":"https://github.com/Shopify/bootsnap/blob/main/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"msgpack","requirements":"~\u003e
        1.2"}]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:18 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/bootstrap.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"bootstrap","downloads":19897254,"version":"5.3[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/byebug.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"byebug","downloads":357629450,"version":"11.1.3","v[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/dartsass-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"dartsass-rails","downloads":1812787,"version":"0.5.1","version_created_at":"2024-07-30T18:01:34.995Z","version_downloads":179955,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Integrate Dart Sass with the asset pipeline in
        Rails.","licenses":["MIT"],"metadata":{"homepage_uri":"https://github.com/rails/dartsass-rails","rubygems_mfa_required":"true"},"yanked":false,"sha":"f19510fb1b29c76c1739a06954d615f1d20ad653b6fc668dd7c68542bb303a1a","spec_sha":"df7a29e37acfbae520aa5b5f1033361f461a1785cb015647548264863eeb1da6","project_uri":"https://rubygems.org/gems/dartsass-rails","gem_uri":"https://rubygems.org/gems/dartsass-rails-0.5.1.gem","homepage_uri":"https://github.com/rails/dartsass-rails","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"railties","requirements":"\u003e=
        6.0.0"},{"name":"sass-embedded","requirements":"~\u003e 1.63"}]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:18 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/database_cleaner-active_record.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"database_cleaner-active_r[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/dotenv.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"dotenv","downloads":368345842,"version":"3.1.4","[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/factory_bot_rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"factory_bot_rails","downloads":198028988[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/gems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"gems","downloads":35327010,"version":"1.3.0","version_created_at":"2024-11-15T16:10:20.075Z","version_downloads":25111,"platform":"ruby","authors":"Erik
        Michaels-Ober","info":"Ruby wrapper for the RubyGems.org API","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"37e7fb834365f39d3c2c649f0a7017288b0fe9ca69d3056b6760b53468b585ae","spec_sha":"2114d80e46c8a201eab10ab27712daf378c7bb52627a02339e796402b8d7ee6f","project_uri":"https://rubygems.org/gems/gems","gem_uri":"https://rubygems.org/gems/gems-1.3.0.gem","homepage_uri":"https://github.com/rubygems/gems","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/gems/1.3.0","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:18 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/git.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"git","downloads":141896478,"version":"2.3.2","versio[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/haml.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"haml","downloads":158224008,"version":"6.3.0","versio[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/importmap-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"importmap-rails","downloads":18820001,"ver[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/kredis.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"kredis","downloads":1156307,"version":"1.7.0","vers[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/net-pop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"net-pop","downloads":112825169,"version":"0.1.2","version_created_at":"2022-09-28T09:37:33.259Z","version_downloads":104006576,"platform":"ruby","authors":"Yukihiro
        Matsumoto","info":"Ruby client library for POP3.","licenses":["Ruby","BSD-2-Clause"],"metadata":{"homepage_uri":"https://github.com/ruby/net-pop","source_code_uri":"https://github.com/ruby/net-pop"},"yanked":false,"sha":"848b4e982013c15b2f0382792268763b748cce91c9e91e36b0f27ed26420dff3","spec_sha":"aeff9897c84befbe622e8705f0b3163226c80d12ba47fcb66264598441fc2713","project_uri":"https://rubygems.org/gems/net-pop","gem_uri":"https://rubygems.org/gems/net-pop-0.1.2.gem","homepage_uri":"https://github.com/ruby/net-pop","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/ruby/net-pop","bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"net-protocol","requirements":"\u003e=
        0"}]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:19 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/octokit.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"octokit","downloads":272173819,"version":"9.2.0","[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/octopoller.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"octopoller","downloads":284004,"version":"0.3.1[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/pg.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"pg","downloads":337057907,"version":"1.5.9","version_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/propshaft.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"propshaft","downloads":3410457,"version":"1.1.[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/pry-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"pry-rails","downloads":173975780,"version":"0.3.11","version_created_at":"2024-06-20T01:31:58.455Z","version_downloads":2984872,"platform":"ruby","authors":"Robin
        Wenglewski","info":"Use Pry as your rails console","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"a69e28e24a34d75d1f60bcf241192a54253f8f7ef8a62cba1e75750a9653593d","spec_sha":"fd6789f2c0e6b4c6db17ef998190e3f6605ef229a783633cace0cd0ce1c07686","project_uri":"https://rubygems.org/gems/pry-rails","gem_uri":"https://rubygems.org/gems/pry-rails-0.3.11.gem","homepage_uri":"https://github.com/rweng/pry-rails","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/pry-rails/0.3.11","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"appraisal","requirements":"\u003e=
        0"},{"name":"minitest","requirements":"\u003e= 0"}],"runtime":[{"name":"pry","requirements":"\u003e=
        0.13.0"}]}}'
  recorded_at: Mon, 25 Nov 2024 19:38:19 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/puma.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"puma","downloads":408438443,"version":"6.5.0","vers[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails-controller-testing.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails-controller-testing","down[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails-i18n.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails-i18n","downloads":97406576,"version":"8.0[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails_bootstrap_navbar.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rails_bootstrap_navbar","downloads"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/redis.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"redis","downloads":444485192,"version":"5.3.0","ve[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/redis-namespace.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"redis-namespace","downloads":164956185,"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rspec-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"rspec-rails","downloads":295174669,"version"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sentry-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sentry-rails","downloads":63133185,"version":[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sentry-sidekiq.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sentry-sidekiq","downloads":45449532,"versi[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sidekiq.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sidekiq","downloads":245924226,"version":"7.3.6","[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sidekiq-scheduler.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sidekiq-scheduler","downloads":31566221,[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/simplecov.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"simplecov","downloads":348860097,"version":"0.[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/sitemap_generator.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"sitemap_generator","downloads":33444195,[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/stimulus-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"stimulus-rails","downloads":25045316,"ver[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/turbo-rails.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.68.67.63:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"turbo-rails","downloads":30147469,"version":"2[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/vcr.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.233.66.239:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"vcr","downloads":117365796,"version":"6.3.1","versio[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/webmock.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.43.190.113:443
    body:
      encoding: ASCII-8BIT
      string: '{"name":"webmock","downloads":288250942,"version":"3.24.0[...]
