<!DOCTYPE html>
<html>
<head>
  <title>Ready for Rails 4?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <h1><a href="/">Is it ready for Rails 4?</a></h1>
    <hr>

    <%= yield %>
  </div>
</body>
</html>
