<!DOCTYPE html>
<html>
<head>
  <title>Ready for Rails 4?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <h1><a href="/">Is it ready for Rails 4?</a></h1>
    <p>Check easily whether a gem is compatible with Rails 4 or not.</p>

    <%= yield %>

    <footer>
      <p>GitHub repo at <a href="https://github.com/Florent2/ready4rails4">ready4rails4</a>, cooked by <a href="http://frodsan.com">frodsan</a> and <a href="http://florentguilleux.fr">Florent</a>. Hosted on Heroku, dressed with <a href="http://bootswatch.com/cyborg/">Boostswatch Cyborg</a>.</p>
    </footer>
</body>
  </div>
</html>
